@import url(reset.css);

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 8px;
}

.nav-left {
	display: flex;
	gap: 30px;
	padding: 16px;
}

.nav-left img { /* logo youtube */
	width: 90px;
	height: 20px;
}

.nav-center {
	display: flex;
	align-items: center;
}

.nav-center input { /* botão de pesquisa */
	width: 348px;
	height: 37px;
	font-size: 16px;
}

.nav-center button {
	width: 37px;
	height: 37px;
}

.nav-right {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-right: 24px;
}

.nav-right img {
	clip-path: circle(50%);
	width: 34px;
}

main {
	display: flex;
	gap: 20px;
	margin-left: 50px;
}

.details-video {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.video {
	width: 100%;
	height: 637px;
	margin-bottom: 14px;
}

.video iframe {
	width: 100%;
	height: 100%;	
	border-radius: 4px;
}

.details-channel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 14px;
	margin-right: 14px;
	padding: 5px;
}

.channel-info {
	display: flex;
	gap: 8px;
}

.channel-info img {
	clip-path: circle(50%);
	width: 42px;
	height: 42px;
}

.details-channel button {
	width: 159px;
	height: 40px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	background-color: #cc0000;
	padding: 0px 5px;
	border-radius: 2px;
	cursor: pointer;
}

.details-channel > div {
	display: flex;
	align-items: center;
	gap: 5px;
}

.details-video p {
	color: #515151;
	width: 60%;
}

.tumbnails-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.tumbnails.descricao {
	display: flex;
	gap: 5px;
	margin-right: 80px;
}

.text-tumbnails h3 {
	font-size: 14px;
}

.text-tumbnails p {
	color: #515151;
	font-size: 12px;	
}

.tumbnails.descricao img {
	width: 160px;
	height: 90px;
	border-radius: 7px;
	flex-shrink: 0;
}